<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navbar</title>
  </head>
  <body
    style="
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 10px;
      font-family: Arial, sans-serif;
    "
  >
    <a href="../pages/home.html" target="main-content">Home</a>
    <a href="../pages/study.html" target="main-content">MyStudy</a>
    <a href="../pages/gallery.html" target="main-content">Gallery</a>
  </body>
</html>
